body {
    background: thistle;
}

#title {
    font-size: 1.5rem;
    color: rgb(11, 20, 40);
    font-family: 'Merienda', cursive;
font-family: 'Chela One', cursive;
    
}

#favorite {
    font-size: 1.5rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifz
    
}
img  {
    width: 45ch;
    padding : 5px;
}
#divide {
    float: left;
    width: 75ch;
